.image-container-porsche{
  position: relative;
  height: 400px;
  width: 600px;
}

.image-container-porsche img {
  position: absolute;
  top: 100%;
  left: 300px;
  opacity: 0;
  animation: move-up 2.5s ease-in-out forwards;
}

@keyframes move-up {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    padding-top: 100px;
    top: 0;
    opacity: 1;
  }
}